# name: Hourly AQI
# on:
#   schedule:
#     - cron: '0 * * * *'
#   workflow_dispatch:

# jobs:
#   run:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
      
#       - name: Setup Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: '3.10'
#           cache: 'pip'

#       - name: FORCE 4.4.2
#         run: |
#           rm -rf /home/runner/.cache/pip
#           python -m pip install --upgrade pip
#           pip install "hopsworks[python]" pandas requests

#       - name: Run Feature Pipeline
#         env:
#           HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
#         run: python feature_pipeline.py

name: Hourly Feature Pipeline
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  features:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - run: pip install -r requirements.txt
      - run: python feature_pipeline.py
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}